<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Asaf Bilker - My Portfolio{% endblock %}

{% block content %}
<!-- Main content -->
<div class="container home">
    <h1 class="entry-title custom-heading page-heading"><span class="hide-title"><span>My Portfolio</span></span></h1>

    <p>Welcome to my portfolio! I'm Asaf Bilker, a 2nd year ambitious Computer Science student at Tel Aviv University,
        with two years of experience in web development and gaming fields.</p>

    <p>I have experience in developing complete websites from scratch, including both front-end (HTML, CSS, JavaScript)
        and back-end (Python, Flask, Java) development. I've also designed user interfaces and user experiences for websites,
        and I'm experienced in troubleshooting and resolving issues with a creative approach to problem-solving.</p>

    <p>Feel free to explore my portfolio website, which I created to showcase my resume.</p>
    <p>Here, you can learn more about my skills, projects, and experience. If you have any questions or would like to get in touch, don't hesitate to contact me!</p>
</div>
{% endblock %}
