<!-- skills.html -->
{% extends 'base.html' %}

{% block title %}Asaf Bilker - Skills{% endblock %}

{% block content %}
<div class="container skills">
    <!-- Add the custom heading style to the "Skills" heading -->
    <h1 class="entry-title custom-heading page-heading"><span class="hide-title"><span>Skills</span></span></h1>
    <p>I have a wide range of skills that I've developed over the years through my work as a software developer and my studies in computer science. Here are some of the key skills that I bring to the table:</p>

    <h2>Programming Languages</h2>
    <p>I'm proficient in a variety of programming languages, including:</p>
    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>Java</li>
        <li>C</li>
        <li>SQL</li>
    </ul>

    <h2>Web Development</h2>
    <p>I have experience with web development technologies, including:</p>
    <ul>
        <li>HTML & CSS</li>
        <li>Flask</li>
    </ul>

    <h2>Other Skills</h2>
    <p>In addition to my programming and web development skills, I also have experience with:</p>
    <ul>
        <li>Git</li>
        <li>Linux</li>
        <li>Algorithm design and analysis</li>
        <li>Data structures</li>
        <li>Searching algorithms</li>
        <li>Sorting algorithms</li>
        <li>UI/UX design</li>
    </ul>
</div>
{% endblock %}